@import 'header';
@import 'contain';

@import 'home';
@import 'presentation';
@import 'service';
@import 'portfolio';
@import 'contact';


html, body {
    background-image: url('../img/grain.png');
    margin: 0;
    padding: 0;
    // width: 100%;
    .contain{
      margin: 0;
      padding: 0;
      padding-top: 108px;
      max-width: 100%;
    }

}