
{% load static cms_tags menu_tags sekizai_tags %}


<header>
  
  <nav class="nav">
    <ul>
      <li>
        <a href=""><h3>Presentation</h3></a>
      </li>
      <li>
        <a href=""><h3>services</h3></a>
      </li>
      <li>
        <a href=""><img src="../media/filer_public/da/4e/da4ec0ae-1527-471b-ba57-953a1341fab6/logocrealead.png"> </a>
      </li>
      <li>
        <a href=""><h3>portfolio</h3></a>
      </li>
      <li>
        <a href=""><h3>contact</h3></a>
      </li>
    </ul>
  </nav>

</header>